<h3>Add Details for Boarding Passenger</h3>

<form action="/riders" method="post">
  <p>  
    <label for="">Name</label>
    <input name = "name" type="text">
  </p>

  <p>
    <label for="">Age </label>
    <input name = "age" type="text">
  </p>

  <p>  
    <label for="">Boarding at</label>
    <input name = "board_at" type="text">
  </p>

  <p>  
    <label for="">Aligting at</label>
    <input name = "alight_at" type="text">
  </p>

  <p>  
    <label for="">Image URL</label>
    <input name = "img_url" type="text">
  </p>  

  <button>Save</button>
  
</form>

<form action="/">
  <button>Oops, they got on the wrong tram</button>
</form>
